templates/nodeRed_flow_template_switch.json
[
  {
    "id": "{{sensorID}}_read",
    "type": "mqtt in",
    "z": "{{sensorInstall}}",
    "name": "{{sensorName}}_input",
    "topic": "{{sensorInstall}}/{{sensorEquipment}}/{{sensorID}}/1/read",
    "qos": "2",
    "broker": "8bec196c.723a18",
    "x": {{posX1}},
    "y": {{posY}},
    "wires": [
      [
        "{{sensorID}}_function"
      ]
    ]
  },
  {
    "id": "{{sensorID}}_function",
    "type": "function",
    "z": "{{sensorInstall}}",
    "name": "{{sensorName}}_function",
    "func": "var json = JSON.parse(msg[\"payload\"]);\n\nvar result= json[\"{{sensorType}}\"];\n\nvar line1 = { color:\"#ff7f0e\",topic: '{{sensorType}}', payload: result};\n\nreturn [line1];",
    "outputs": 1,
    "noerr": 0,
    "x": {{posX2}},
    "y": {{posY}},
    "wires": [
      [
        "{{sensorID}}_write"
      ]
    ]
  },
  {
    "id": "{{sensorID}}_write",
    "type": "ui_switch",
    "z": "{{sensorInstall}}",
    "name": "{{sensorName}}_write",
    "group": "{{sensorEquipment}}_group",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "num",
    "onicon": "", "oncolor": "",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "",
    "offcolor": "",
    "label": "{{sensorName}}",
    "chartType": "line",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": {{posX3}},
    "y": {{posY}},
    "wires": [
      [
        "{{sensorID}}_relay"
      ]
    ]
  },
  {
    "id": "{{sensorID}}_relay",
    "type": "{{sensorType}}",
    "z": "{{sensorInstall}}",
    "name": "{{sensorName}}",
    "topic": "{{sensorInstall}}/{{sensorEquipment}}/{{sensorID}}/1/write",
    "broker": "8bec196c.723a18",
    "x": {{posX4}},
    "y": {{posY}},
    "wires": []
  }
]